<!DOCTYPE html>
<html>
    <head>
        <title>Bioskop x Twitter</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/uikit.min.css') }}" />
        <script type="text/javascript" src="{{ url_for('static', filename='js/uikit.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/uikit-icons.min.js') }}"></script>
        
    </head>
    <body>
		<div class="uk-container">
			<div class="col">
				<nav class="uk-navbar-container" uk-navbar>
					<div class="uk-navbar-left">
						<h2 class="uk-margin-left uk-text-bolder">Bioskop x Twitter</h2>
					</div>
					<div class="uk-navbar-right">
						<ul class="uk-navbar-nav">
							<li class="uk-active uk-text-bold"><a href="nowplaying.html">Now Playing</a></li>
							<li class="uk-parent uk-text-bold"><a href="comingsoon.html">Coming Soon</a></li>
							<li><a href=""></a></li>
						</ul>
					</div>	
				</nav>	
			</div>
		</div>
		<div class="uk-container">
			<div class="col uk-padding">
				<div class="uk-card uk-card-body uk-card-small uk-grid-collapse uk-child-width-1-3@s uk-grid-column-small uk-grid">
					<div class="uk-card-media-left uk-cover-container">
						<img src="images/1.jpg" alt="" uk-cover>
						<canvas width="600" height="400"></canvas>
					</div>
					<div>
						{% for np in nps %}
							<div class="uk-card-body">
								<h3 class="uk-card-title uk-text-bold uk-text-large">
						            	<tr>
						                	<td>{{ np['title'] }}</td>
						            	</tr>
								</h3>
								<p class="uk-text-meta">
							            <tr>
							                <td>{{ np['overview'] }}</td>
							            </tr>
								</p>
							</div>
							<p uk-margin>    					
	    						<a class="uk-button uk-button-primary uk-position-medium uk-position-bottom-right uk-text-capitalize" href="single_nowplaying.html">See Tweet</a>
							</p>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
    </body>
</html>

