<!DOCTYPE html>
<html>
    <head>
        <title>Bioskop x Twitter</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/uikit.min.css') }}" />
        <script type="text/javascript" src="{{ url_for('static', filename='js/uikit.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/uikit-icons.min.js') }}"></script>
    </head>
    <body>
		<div class="uk-container">
			<div class="col">
				<nav class="uk-navbar-container" uk-navbar>
					<div class="uk-navbar-left">
						<h2 class="uk-margin-left uk-text-bolder" href="/movie/now_playing">Bioskop x Twitter</h2>
					</div>
					<div class="uk-navbar-right">
						<ul class="uk-navbar-nav">
							<li class="uk-parent uk-text-bold"><a href="/movie/now_playing">Now Playing</a></li>
							<li class="uk-active uk-text-bold"><a href="/movie/upcoming">Coming Soon</a></li>
							<li><a href=""></a></li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<div class="uk-container">
			{% for tw in tws %}
      <!--<a href="{{ tw['URL'] }}">-->
  			<div class="col uk-padding" id="tweets_col">
  				 <div class="uk-card uk-card-default uk-card-body uk-card-small uk-margin-auto uk-child-width-1-4@s uk-grid-column-small">
              		<h3 class="uk-card-title uk-text-bold">
              			<tr>
  	                		<td>{{ tw['Username'] }}</td>
  	            		</tr>
  					</h3>
              		<p class="uk-text-meta">
              			<tr>
  			        		<td>{{ tw['Tweets'] }}</td>
  			    		</tr>
  	            	</p>
          		</div>
  			</div>
      <!--</a>-->
			{% endfor %}
		</div>
    </body>
</html>
